.body
{
	margin: 0px;
	background-color: #FFFAF0;
	min-width: 1200px;
}
a:link
{
	text-decoration:none;
	color: none;
	display: inline-block;
}
.div
{
	display: inline-block;
	margin: 0px;
}
hr
{
	height: 1px;
	border: 0;
	background-color: #FFFAF0;
	opacity: 0.09;
}
.principaldiv
{
	margin: 0;
	height: 100vh;
	width: 100%;
	min-width: 1412px
}
.menu
{
	width: 200px;
	height: 100vh;
	margin: 0 auto;
	background-color: #252525;
	min-width: 200px;
	min-height: 774px;
}
.fontmain
{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	color: deepskyblue;
}
.font
{
	font-size: 28px;
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
}
.bouton
{
	height: 40px;
	width: 100%;
	color: papayawhip;
	display: inline-block;
}
.color
{
	color: papayawhip;
}
.colorin
{
	color: #73ED55;
}
.bouton:hover{
	color: #73ED55;
}
.middle
{
	width: 87vw;
	height: 99vh;
	margin-top: 2px;
	margin-left: 2px;
	position: absolute;
	overflow:scroll;
	overflow: hidden;
}
.sizeicon
{
	font-size: 1px;
}
.header
{
	color: deepskyblue;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	height: 50px;
	width: 100%;
	text-align: center;
}
.positionheadertitle
{
	margin-top: 9px;
	margin-left: -200px;
	width: auto;
	padding-left: 42px;
	padding-right: 42px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	background-color: #252525;
}
.devoir
{
	font-family: 'Ubuntu', sans-serif;
	margin-top: 50px;
	margin: 20px;
	height: auto;
	width: auto;
	padding: 10px;
	border-radius: 10px;
	background-color: #EDEA55;
	font-size: 18px;
}